#include <windows.h>

101 ICON "app.ico"

1 VERSIONINFO
FILEVERSION 1,3,3,0
PRODUCTVERSION 1,3,3,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "WuwaEchoCalculator"
            VALUE "FileDescription", "鸣潮声骸计算器"
            VALUE "FileVersion", "1.3.3"
            VALUE "InternalName", "WuwaEchoCalculator.exe"
            VALUE "OriginalFilename", "鸣潮声骸计算器.exe"
            VALUE "ProductName", "鸣潮声骸计算器"
            VALUE "ProductVersion", "1.3.3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
